.header {
  display: flex;
  justify-content: space-between;

  .info {
    display: flex;
    height: 28px;
    align-items: center;
    font-size: 12px;
    line-height: 22px;
  }

  .link {
    margin-left: 3px;
    margin-right: 13px;
    color: #1890ff;
    font-size: 20px;
    line-height: 28px;
  }

  .tags {
    margin-top: 10px;
  }
}

.description {
  display: flex;
  justify-content: flex-start;
  width: 682px;
  height: 45px;
  margin-top: 16px;
  font-size: 12px;
  line-height: 22px;
}
